@using ControllerRebinder.Common.Moddels.Configurations.SubModelsOfConfigurations;
@model LeftJoyStick;
@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Settings" method="post">
    <fieldset>
        <legend>Left Joystick</legend>
        <label for="staticArea">Static Area:</label>
        <input type="number" id="staticArea" name="staticArea" value="@Model.StaticArea">
        <br>
        <label for="forwardDown">Forward Down:</label>
        <input type="number" id="forwardDown" name="forwardDown" value="@Model.ForwardDown">
        <br>
        <label for="leftRight">Left Right:</label>
        <input type="number" id="leftRight" name="leftRight" value="@Model.LeftRight">
        <br>
        <label for="deadZone">Dead Zone:</label>
        <input type="number" id="deadZone" name="deadZone" value="@Model.DeadZone">
        <br>
        <label for="maxValController">Max Val Controller:</label>
        <input type="number" id="maxValController" name="maxValController" value="@Model.MaxValController">
        <br>
        <label for="threshHoldAreaCal">Threshold Area Cal:</label>
        <input type="number" id="threshHoldAreaCal" name="threshHoldAreaCal" value="@Model.ThreshHoldAreaCal">
        <br>
        <fieldset>
            <legend>Controlls</legend>
            <label for="up">Up:</label>
            <input type="text" id="up" name="up" value="@Model.Controlls.Up">
            <br>
            <label for="down">Down:</label>
            <input type="text" id="down" name="down" value="@Model.Controlls.Down">
            <br>
            <label for="left">Left:</label>
            <input type="text" id="left" name="left" value="@Model.Controlls.Left">
            <br>
            <label for="right">Right:</label>
            <input type="text" id="right" name="right" value="@Model.Controlls.Right">
        </fieldset>
    </fieldset>
    <button type="submit">Submit</button>
</form>
